@media (min-width:100px) and (max-width:767px)
{
    /* ============================ global =============================== */
    .mt{
        margin-top: 70px !important;
    }
    h1{
        font-size: 25x !important;
    }
    h2{
        font-size: 20px !important;
    }
    h3{
        font-size: 18px !important;
    }
    h4{
        font-size: 15px !important;
    }
    /* ============================= banner =============================== */
    .swiper-slide{
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
        height: 50vh !important;
    }
    
    .swiper-slide h1{
        font-size: 25px !important;
    }
    .swiper-slide p{
        width: 100% !important;
        font-size: 13px !important;
        color: #031c14 !important;
    }
    /* ============================= banner =============================== */

    /* ============================= latest device =============================== */
    .latest-device-card{
        margin-top: 15px !important;
        height: 50vh !important;
    }
    .letest-device-content{
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
        padding-top: 10% !important;
        gap: 10px !important;
    }
    .letest-device-content p{
        display: none !important;
    }
    /* ============================ latest device =============================== */

    /* ============================= protection banner =============================== */
    .protection-banner{
        height: 40vh !important;
    }
    .banner-content{
        justify-content: center !important;
    }
    .protection-item-1{
        width: 100% !important;
    }
    .protection-item-2{
        display: none !important;
    }
    /* ============================= protection banner =============================== */

    /* ============================= protection =============================== */
    .protection{
        flex-direction: column !important;
        gap: 40px !important;
    }
    .protection-content-1, .protection-content-2{
        height: 40vh !important;
    }
    .protection-text{
        align-items: center !important;
        text-align: center !important;
        padding: 0 5% 0 5% !important;
    }
    /* ============================= protection =============================== */

    /* ============================= features =============================== */
    .features-grid{
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 20px !important;
    }
    /* ============================= features =============================== */

    /* ============================= products =============================== */
    .product-item{
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 10px !important;
    }
    /* ============================= products =============================== */

    /* ============================= camera banner =============================== */
    .camera-banner{
        display: none !important;
    }
    /* ============================= camera banner =============================== */

    /* ============================= surveillance =============================== */
    .surveillance-text p{
        display: none !important;
    }
    .surveillance-video{
        height: 40vh !important;
    }
    /* ============================= surveillance =============================== */
    
    /* ============================= discount =============================== */
    .w-50{
        width: 300px !important;
    }
    /* ============================= discount =============================== */

    /* ============================= footer-item =============================== */
    .footer-item{
        flex-direction: column !important;
        gap: 10px !important;
        justify-content: center !important;
    }
    .list-footer li a{
        font-size: 12px !important;
    }
    .footer-img{
        padding: 0 0 0 0 !important;
    }
    /* ============================= footer-item =============================== */
}
@media (min-width:768px) and (max-width:1199px)
{
    h1{
        font-size: 30px !important;
    }
    h2{
        font-size: 25px !important;
    }
    h3{
        font-size: 20px !important;
    }
    h4{
        font-size: 18px !important;
    }
    /* ============================= header =============================== */
    .navbar-nav{
        gap: 15px !important;
    }
    /* ============================= header =============================== */

    /* ============================= latest device =============================== */
    .letest-device-content{
        padding-top: 20% !important;
    }
    .latest-device h2{
        text-align: center !important;
    }
    /* ============================= latest device =============================== */

    /* ============================= protection banner =============================== */
    .protection-banner{
        height: 50vh !important;
    }
    .banner-content{
        justify-content: center !important;
    }
    .protection-item-2{
        display: none !important;
    }
    /* ============================= protection banner =============================== */

    /* ============================= protection =============================== */
    .protection-content-1, .protection-content-2{
        height: 50vh !important;
    }
    /* ============================= protection =============================== */

    /* ============================= features =============================== */
    .features-grid{
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 20px !important;
    }
    /* ============================= features =============================== */

    /* ============================= products =============================== */
    .product-item{
        grid-template-columns: repeat(2, 1fr) !important;
    }
    /* ============================= products =============================== */

    /* ============================= camera banner =============================== */
    .camera-banner{
        height: 40vh !important;
    }
    .camera-text p{
        font-size: 12px !important;
    }
    /* ============================= surveillance =============================== */
    .surveillance-video{
        height: 60vh !important;
    }
    /* ============================= surveillance =============================== */

}